<section class="hero hero__small">
  <div class="container">
    <div class="lead">
      <div class="columns is-vcentered is-multiline">
        <div class="column">
          <h1 class="lead__title lead__title--news">О нас</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team" id="team">
  <div class="container">
    <div class="columns is-vcentered is-multiline">
      <div class="column is-6">
        <div class="team__item">
          <div class="team__icon">
            <img loading="lazy" src="../../assets/images/icon__team.svg" alt="Автоматический бот для арбитражных ситуаций" />
          </div>
          <p class="team__title">Опытная команда, которая знает свое дело</p>
          <p class="team__text">
            Имеем большой опыт в Betting-сфере и всегда вкурсе современных стратегий и тенденций. Постоянно обновляем и улучшаем наши продукты согласно желаниям пользоватей. Всегда рады услышать отзыв и рекомендации по текущей работе.
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="team__item">
          <div class="team__icon">
            <img loading="lazy" src="../../assets/images/icon__client.svg" alt="Автоматический бот для арбитражных ситуаций" />
          </div>
          <p class="team__title">Быстрая обратная связь</p>
          <p class="team__text">
            В наших рядах работают только профессионалы. Мастера своего дела,
            которые делают большой упор на развитие нашего продукта. В техподдержке Вам помогут как с техническими вопросами, так и с настройками. Проще говоря
            решим Вашу проблему.
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="team__item">
          <div class="team__icon">
            <img loading="lazy" src="../../assets/images/icon__quality.svg" alt="Автоматический бот для арбитражных ситуаций" />
          </div>
          <p class="team__title">Качество</p>
          <p class="team__text">
            Мы создали крутой продукт и повышаем его качество каждый день!
            Наша цель стань первыми на рынке!
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="team__item">
          <div class="team__icon">
            <img loading="lazy" src="../../assets/images/icon__best.svg" alt="Автоматический бот для арбитражных ситуаций" />
          </div>
          <p class="team__title">Клиент на первом месте</p>
          <p class="team__text">
            Нам важна каждая победа наших клиентов и мы делаем все возможное
            чтобы побед было больше!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contacts">
  <div class="container">
    <div class="contacts__item">
      <div class="contacts__item--content">
        <p class="section__title">
          Возникли вопросы?
        </p>
        <p class="base__text">
          Если есть вопросы по работе продукции или хотите что-то предложить -
          пишите нам в группу. Всегда открыты к новым предложениям!
        </p>
      </div>
      <div class="contacts__item--btns">
        <a routerLink="/about" class="btn btn__green">Написать нам в VK</a>
      </div>
    </div>
  </div>
</section>

<footer class="footer" style="display: table;">
  <div class="container">
    <img loading="lazy" src="../../assets/images/logo__black.svg"
         alt="Betting Co. - Сервис автоматизированных арбитражных ситуаций." width="175" height="40" />
    <a class="" target="_blank" style="padding-top: 16px;" href="../../assets/files/1.pdf">
      Пользовательское соглашение
    </a>
    <a class="" target="_blank" style="padding-top: 16px;" href="../../assets/files/2.pdf">
      Политика приватности
    </a>
    <a style="padding-top: 16px;" href="">bettingco1@gmail.com</a>
    <a style="padding-top: 16px;" href="">79958974120</a>
  </div>
  <div class="container" style="padding-top: 10px;">
    <img loading="lazy" src="../../assets/images/payment.png"
         alt="Betting Co. - Сервис автоматизированных арбитражных ситуаций." width="406" height="40" />
    <p class="footer__text" style="justify-content: center;">© Все права защищены. All Rights Reserved. 2021 Betting Co.</p>
  </div>
</footer>

