<div class="pay-popup__layout">
  <div class="pay-popup__container">
    <div class="pay-popup">
      <div class="popup-close__button">
        <img loading="lazy" src="assets/images/cancel.svg" alt="X">
      </div>
      <div class="pay-method__container">
        <div class="popup-title__container">
          <div class="title-number__container">
            <div class="popup-number">
              1
            </div>
          </div>
          <div class="popup-title__box">
            <div class="popup-title">
              Выберите способ оплаты
            </div>
            <div class="popup-subtitle">
              Выберите для себя наиболее удобный способ
            </div>
          </div>
        </div>
        <div class="slider__container">
          <div class="prev-button swiper-button-prev slider-action__btn">

          </div>
          <div class="pay-method__slider swiper-container">

            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="pay-method__item pay-item-active" data-payment="Карты">
                  <img loading="lazy" src="assets/images/payment__visa.svg" alt="VISA">
                  <img loading="lazy" src="assets/images/payment__mastercard.svg" alt="Master Card">
                </div>
              </div>
            </div>
            <div class="swiper-pagination slider-pagination"> </div>
          </div>
          <div class="next-button swiper-button-next slider-action__btn">

          </div>
        </div>

      </div>

      <div class="email__container">
        <div class="popup-title__container">
          <div class="title-number__container">
            <div class="popup-number">
              2
            </div>
          </div>
          <div class="popup-title__box">
            <div class="popup-title">
              Введите свои данные
            </div>
            <div class="popup-subtitle">
              Проверяйте правильность введеных данных. На данную почту придет ключ
            </div>
          </div>
        </div>
        <div class="popup-input__container">
          <input type="email" id="email_input" required placeholder="E-mail (на него придет ключ активации)" name="email" class="popup-input">
        </div>

      </div>

      <div class="advanced__container">
        <div class="popup-title__container">
          <div class="title-number__container">
            <div class="popup-number">
              3
            </div>
          </div>
          <div class="popup-title__box">
            <div class="popup-title">
              Дополнительно
            </div>
            <div class="popup-subtitle">
              Выберите количество и введите промокод, если он есть
            </div>
          </div>
        </div>
        <div class="popup-input__container">
          <input type="number" min="1" placeholder="Выберите приобретаемое количество" name="count" class="popup-input">
          <input type="text" placeholder="Промокод" name="code" class="popup-input">
          <a class="popup-href" target="_blank" href="assets/files/1.pdf">
            <u> Политика безопасности</u>
          </a>
          <div class="button-summ__container">
            <button class="btn btn__green pay__btn">
              Перейти к оплате
            </button>
            <div class="summ-value__container">
              Сумма к оплате (руб): <span class="summ-value"> 4500</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<section class="hero">
  <div class="container">
    <div class="lead">
      <div class="columns is-vcentered is-multiline">
        <div class="column">
          <h1 class="lead__title">
            Инновационный вилочный бот
          </h1>
          <p class="lead__text"> Автоматизированный заработок на букмекерских конторах с арбитражных ситуаций. Вам достаточно один раз настроить бот и дальше вся работа будет осуществляться в автоматическом режиме. </p>
          <ul class="lead__list">
            <li class="lead__list--item">
              <img loading="lazy" alt="16 видов спорта" src="assets/images/check__green.svg" class="lead__list--image"> 16 видов спорта
            </li>
            <li class="lead__list--item">
              <img loading="lazy" alt="12+ букмекерских контор" src="assets/images/check__green.svg" class="lead__list--image"> 12 + букмекерских контор
            </li>
            <li class="lead__list--item">
              <img loading="lazy" alt="Гибкие настройки" src="assets/images/check__green.svg" class="lead__list--image"> Гибкие настройки
            </li>
            <li class="lead__list--item">
              <img loading="lazy" alt="Выгодная партнерская программа" src="assets/images/check__green.svg" class="lead__list--image"> Выгодная партнерская программа
            </li>
            <li class="lead__list--item">
              <img loading="lazy" alt="Полная поддержка от А до Я" src="assets/images/check__green.svg" class="lead__list--image"> Полная поддержка от А до Я
            </li>
          </ul>
          <div class="lead__btns">
            <a href="betbot.html#payment" class="btn btn__green">
              Купить
              лицензию
            </a>
            <a href="http://panel.bettingco.ru/" rel="nofollow" target="_blank" class="btn btn__outline btn_panel_men">
              Панель
              управления
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="benefits">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="benefits__item">
          <div class="column">
            <img loading="lazy" src="assets/images/icon__allert.svg" alt="Автоматический бот для арбитражных ситуаций" class="aos-init aos-animate">
          </div>
          <div class="column">
            <p class="benefits__text">
              Мы не являемся гэмблинг площадкой, не сотрудничаем с букмекерскими конторами и казино, а так же не продаем/распространяем какую-либо информацию касающуюся азартных игр.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="benefits__item">
          <div class="benefits__icon">
            <img loading="lazy" src="assets/images/icon__interface.svg" alt="Автоматический бот для арбитражных ситуаций">
          </div>
          <p class="benefits__title">
            Удобный интерфейс
          </p>
          <p class="benefits__text">
            Бот имеет интуитивно понятный и удобный интерфейс, где сможет разобраться человек любого уровня подготовки.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="benefits__item">
          <div class="benefits__icon">
            <img loading="lazy" src="assets/images/icon__updates.svg" alt="Автоматический бот для арбитражных ситуаций">
          </div>
          <p class="benefits__title">
            Регулярные обновления
          </p>
          <p class="benefits__text">
            Регулярно выпускаем обновления для бота, где устраняем ошибки и добавляем новый функционал.
          </p>
        </div>
      </div>
      <div class="column is-4">
        <div class="benefits__item">
          <div class="benefits__icon">
            <img loading="lazy" src="assets/images/icon__support.svg" alt="Автоматический бот для арбитражных ситуаций">
          </div>
          <p class="benefits__title">
            Отзывчивая техподдержка
          </p>
          <p class="benefits__text">
            Мы не только сможем решить технические вопросы связанные с нашим ботом, но и подсказать по
            поводу лучших вилок и дать рекомендации.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="about__image">
          <img loading="lazy" src="assets/images/images__bot.png" alt="">
        </div>
      </div>
      <div class="column">
        <p class="small__title">
          Быстрый
          старт
        </p>
        <h2 class="section__title">
          Преимущества автоматики
        </h2>
        <p class="base__text">
          Бот полностью автоматизирован и позволяет заниматься своми делами пока сам ищет, открывает и проставляет вилки по выбранным настройкам. Задать их можно под вашу стратегию и стиль меняя все что можно вообразить.
          В официальной группе VK <a target="_blank" rel="nofollow" href="https://vk.com/betting_co"> https://vk.com/betting_co</a> вы так же найдете разнообразные рекомендации и статистику.
        </p>
        <ul class="about__list">
          <li class="about__list--item">
            <img loading="lazy" alt="Настройка каждой БК" src="assets/images/check__green.svg" class="lead__list--image"> Настройка каждой БК
          </li>
          <li class="about__list--item">
            <img loading="lazy" alt="Настройка фильтров и исключений" src="assets/images/check__green.svg" class="lead__list--image"> Настройка фильтров и исключений
          </li>
          <li class="about__list--item">
            <img loading="lazy" alt="Оповещения в Telegram" src="assets/images/check__green.svg" class="lead__list--image"> Оповещения в Telegram
          </li>
          <li class="about__list--item">
            <img loading="lazy" alt="Выбор приоритета вилок" src="assets/images/check__green.svg" class="lead__list--image"> Выбор приоритета вилок
          </li>
          <li class="about__list--item">
            <img loading="lazy" alt="Анонимность регистрации и
серфинга" src="assets/images/check__green.svg" class="lead__list--image">Анонимность регистрации и
            серфинга
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="bookmakers">
  <div class="container">
    <h2 class="section__title"> Поддержка <span class="green__mark"> 12 + </span> букмекерских контор и клонов</h2>
    <div class="bookmakers__logo">
      <img loading="lazy" src="assets/images/bookmakers_png/cloudbet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера cloudbet">
      <img loading="lazy" src="assets/images/bookmakers_png/sbobet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера sbobet">
      <img loading="lazy" src="assets/images/bookmakers_png/betonline.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера betonline">
      <img loading="lazy" src="assets/images/bookmakers_png/parimatch.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера parimatch">
      <img loading="lazy" src="assets/images/bookmakers_png/ligastavok.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера лига ставок">
      <img loading="lazy" src="assets/images/bookmakers_png/bet365.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера Бет365">
      <img loading="lazy" src="assets/images/bookmakers_png/fonbet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера fonbet">
      <img loading="lazy" src="assets/images/bookmakers_png/olimp.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера олимп">
      <img loading="lazy" src="assets/images/bookmakers_png/linebet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера linebet">
      <img loading="lazy" src="assets/images/bookmakers_png/playwetten.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера playwetten">
      <img loading="lazy" src="assets/images/bookmakers_png/bettery.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера bettery">
      <img loading="lazy" src="assets/images/bookmakers_png/pinnacle.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера pinnacle">
      <img loading="lazy" src="assets/images/bookmakers_png/betwinner.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера betwinner">
      <img loading="lazy" src="assets/images/bookmakers_png/marathon.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера марафон бет">
      <img loading="lazy" src="assets/images/bookmakers_png/1xbet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера 1xbet">
      <img loading="lazy" src="assets/images/bookmakers_png/oddsring.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера oddsring">
      <img loading="lazy" src="assets/images/bookmakers_png/1xbit.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера 1xbit">
      <img loading="lazy" src="assets/images/bookmakers_png/cbet.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера cbet">
      <img loading="lazy" src="assets/images/bookmakers_png/sportmarket.png"
           alt="Автоматический бот для арбитражных ситуаций для букмекера sportmarket">
    </div>
  </div>
</section>


<section class="sport">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="small__title">
          ВЫБЕРИТЕ
          СВОЙ СПОРТ
        </p>
        <h2 class="section__title">
          Какие
          виды спорта поддерживает бот Betting CO.
        </h2>
        <p class="base__text">
          На данный
          момент наш бот поддерживает 16 видов спорта и этот список пополняется с каждым новым обновлением
        </p>
        <ul class="sport__list">
          <li class="sport__list--item">
            Бейсбол
          </li>
          <li class="sport__list--item">
            Баскетбол
          </li>
          <li class="sport__list--item">
            Футбол
          </li>
          <li class="sport__list--item">
            Кибердисциплины
          </li>
          <li class="sport__list--item">
            Гандбол
          </li>
          <li class="sport__list--item">
            Хоккей
          </li>
          <li class="sport__list--item">
            Настольный теннис
          </li>
          <li class="sport__list--item">
            Теннис
          </li>
          <li class="sport__list--item">
            Воллейбол
          </li>
          <li class="sport__list--item">
            Снукер
          </li>
          <li class="sport__list--item">
            Регби
          </li>
          <li class="sport__list--item">
            Американский футбол
          </li>
          <li class="sport__list--item">
            Дартс
          </li>
          <li class="sport__list--item">
            Водное поло
          </li>
          <li class="sport__list--item">
            Киберспорт
          </li>
          <li class="sport__list--item">
            Бадминтон
          </li>
        </ul>
        <p class="sport__attention">
          <span class="green__mark"> C каждым обновлением</span> этот список расширяется
        </p>
      </div>
      <div class="column">
        <img loading="lazy" src="assets/images/images__sport.png"
             alt="Автоматический бот для арбитражных ситуаций">
      </div>
    </div>
  </div>
</section>


<section class="partnership" id="partnership">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="about__image">
          <img loading="lazy" src="assets/images/images__referals.svg" alt="">
        </div>
      </div>
      <div class="column">
        <p class="small__title">
          Зарабатывайте еще больше
        </p>
        <h2 class="section__title">
          Выгодная
          партнерская программа
        </h2>
        <p class="base__text">
          При покупке подписки каждому автоматически генерируется персональный промокод, дающий 5% с каждой подписки/продления и 5% скидки вашему рефералу.
          С помощью не хитрых манипуляций многие договорились с нами о больших процентах. Условия рассматриваются индивидуально, главное пишите и мы обязательно договоримся.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="payment" id="payment">
  <div class="container">
    <div class="columns  is-multiline">
      <div class="column is-12">
        <h2 class="section__title"> Стоимость лицензии и оплата</h2>
        <p class="base__text">
          Вы можете купить одну или несколько лицензий, после оплаты программы данные аккаунта и инструкция придут на почту сразу после оплаты.
        </p>
      </div>
      <div class="column is-4">
        <div class="payment__item">
          <p class="payment__item--title"> Лицензия на <span class="green__mark"> 7</span> дней</p>
          <p class="payment__item--price"> 2500 &#8381;</p>
          <button data-price="2500" data-days="0" class="btn btn__green btn__pay"> Купить лицензию</button>
        </div>
      </div>
      <div class="column is-4">
        <div class="payment__item">
          <p class="payment__item--title"> Лицензия на <span class="green__mark"> 14</span> дней</p>
          <p class="payment__item--price"> 4700 &#8381;</p>
          <button data-price="4700" data-days="1" class="btn btn__green btn__pay"> Купить лицензию</button>
        </div>
      </div>
      <div class="column is-4">
        <div class="payment__item">
          <p class="payment__item--title"> Лицензия на <span class="green__mark"> 30</span> дней</p>
          <p class="payment__item--price"> 9000 &#8381;</p>
          <button data-price="9000" data-days="2" class="btn btn__green btn__pay"> Купить лицензию</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="faq" id="faq">
  <div class="container">
    <div class="columns  is-vcentered is-multiline ">
      <div class="column is-8 is-offset-2">
        <p class="small__title"> FAQ</p>
        <h2 class="section__title">
          Часто
          задаваемые вопросы
        </h2>
      </div>
      <div class="column is-8 is-offset-2">
        <div class="accordion" id="accordion">
          <div class="question">
            Как мне научиться работать? Есть ли инструкция?
          </div>
          <div>
            Новичкам крайне не рекомендуем начинать с ботов, но в комплекте с программой идет подробная инструкция по всем тонкостям работы. Также
            наша администрация всегда готова подсказать и объяснить любой аспект работы.
          </div>
          <div class="question"> Легально ли это? </div>
          <div>
            Конечно! Бот не нарушает ни одно из действующих законодательств РФ.
          </div>
          <div class="question"> Как запустить бота в работу? </div>
          <div>
            Следует купить ключ, а затем скачать сам установщик и далее следовать
            инструкции. Ничего сложного в установке нет, бот работает на любом Windows от 7 и выше.
          </div>
          <div class="question"> На сколько приобретается ключ? </div>
          <div>
            По вашему желанию от 7 дней до 1 месяца. В комплекте идут заморозки подписки.
          </div>

          <div class="question"> Какой нужен банк? </div>
          <div>
            Для комфортной работы не менее 20 тысяч рублей. Рамки банка от 10 до 50 тысяч рублей. Выше 50 тысяч
            на 1 бота иметь смысла немного.
          </div>

          <div class="question">
            Я новичок и не работал с вилками. Я могу преуспеть с ботом?
          </div>
          <div>
            Безусловно. Но базовые знания в вилках необходимы.
          </div>

          <div class="question">
            Помогаете ли вы с настройками и подбором оптимальной для меня связки?
          </div>
          <div>
            Это принцип нашего сервиса. Мы помогаем в работе с программой, в ее настройках. Не помогаем с регистрацией контор.
          </div>

          <div class="question">
            Какая сумма получается за день/неделю/месяц?
          </div>
          <div>
            Однозначно на этот вопрос не ответить. Все зависит от связки, настроек, мощности вашего устройства, скорости прокси, от вашего опыта и
            и от количества посвященного времени боту.
          </div>

          <div class="question"> Нужно ли за ботом постоянно наблюдать? </div>
          <div>
            Не обязательно, если выставить консервативные настройки, то бот
            полностью автономен.
          </div>

          <div class="question">
            Можно ли пользоваться ботом просто как браузером?
          </div>
          <div>
            Да. У нас встроена передовая система анонимности, которую можно сравнить с браузером
            Sphere.
          </div>

          <div class="question">
            На сколько хватит моих аккаунтов, если я новичок?
          </div>
          <div>
            Очень много условностей. В основном, все зависит от желаемой связки, но проблем с аккаунтами
            Вы не будете испытывать.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer" style="display: table;">
  <div class="container">
    <img loading="lazy" src="assets/images/logo__black.svg"
         alt="Betting Co. - Сервис автоматизированных арбитражных ситуаций." width="175" height="40" />
    <a class="" target="_blank" style="padding-top: 16px;" href="assets/files/1.pdf">
      Пользовательское соглашение
    </a>
    <a class="" target="_blank" style="padding-top: 16px;" href="assets/files/1.pdf">
      Политика приватности
    </a>
    <a style="padding-top: 16px;" href="mailto:bettingco1@gmail.com"> bettingco1@gmail.com</a>
    <a style="padding-top: 16px;" href="tel:79958974120"> 79958974120</a>
  </div>
  <div class="container" style="padding-top: 10px;">
    <img loading="lazy" src="assets/images/payment.png"
         alt="Betting Co. - Сервис автоматизированных арбитражных ситуаций." width="406" height="40" />
    <p class="footer__text" style="justify-content: center;"> © Все права защищены. All Rights Reserved. 2021 Betting Co.</p>
  </div>
</footer>
